In [2]:
import pandas as pd

df = pd.read_csv('./Datasets/cleaned_df.csv')

df.set_index('date', inplace=)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218538 entries, 0 to 218537
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   state_name                 218538 non-null  object
 1   county_name                218538 non-null  object
 2   county_code                218538 non-null  int64
 3   aqi                        218538 non-null  int64
 4   category                   218538 non-null  object
 5   defining_parameter         218538 non-null  object
 6   defining_site              218538 non-null  object
 7   number_of_sites_reporting  218538 non-null  int64
dtypes: int64(3), object(5)
memory usage: 13.3+ MB

In [3]:
df.head()

,state_name,county_name,county_code,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
0,California,Alameda,1,62,Moderate,PM2.5,06-001-0007,4
1,California,Alameda,1,61,Moderate,PM2.5,06-001-0007,4
2,California,Alameda,1,81,Moderate,PM2.5,06-001-0007,4
3,California,Alameda,1,78,Moderate,PM2.5,06-001-0007,4
4,California,Alameda,1,84,Moderate,PM2.5,06-001-0007,4