# INTRO

# PROBLEM STATEMENT

# BACKGROUND

# ASSUMPTIONS

### Import Libaries

In [6]:
import pandas as pd
import numpy as np
import os

In [8]:
# upload all data files using os
aqi_data = os.listdir('./Datasets')

# confirm the os code worked
aqi_data

['daily_aqi_by_county_2013.csv',
 'daily_aqi_by_county_2012.csv',
 'daily_aqi_by_county_2010.csv',
 'daily_aqi_by_county_2011.csv',
 'daily_aqi_by_county_2015.csv',
 'daily_aqi_by_county_2014.csv',
 'daily_aqi_by_county_2016.csv',
 'daily_aqi_by_county_2017.csv',
 'daily_aqi_by_county_2019.csv',
 'daily_aqi_by_county_2018.csv',
 'daily_aqi_by_county_2020.csv',
 'daily_aqi_by_county_2009.csv']

In [10]:
# generate an empty list where each df will be stored
df_list = []

# read in all the data files but only keep the rows for california
for i in aqi_data:
    
    # read in each df
    new_df = pd.read_csv(f'./Datasets/{i}')
    
    # rename column names
    new_df.rename(columns={'State Name': 'state_name',
                          'county Name': 'county_name',
                          'State Code': 'state_code',
                          'County Code': 'county_code',
                          'Date': 'date',
                          'AQI': 'aqi',
                          'Category': 'category',
                          'Defining Parameter': 'defining_parameter',
                          'Defining Site': 'defining_site',
                          'Number of Sites Reporting': 'number_of_sites_reporting'}, inplace=True)
    
    # only keep rows from California
    new_df = new_df[new_df['state_name'] == 'California']
    
    # append the new_df to the df_list
    df_list.append(new_df)

In [11]:
# concat all the dfs in the df_list
full_df = pd.concat(df_list)

In [18]:
# confirm full_df came out ok
full_df.head()

,state_name,county_name,state_code,county_code,date,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
14508,California,Alameda,6,1,2013-01-01,62,Moderate,PM2.5,06-001-0007,4
14509,California,Alameda,6,1,2013-01-02,61,Moderate,PM2.5,06-001-0007,4
14510,California,Alameda,6,1,2013-01-03,81,Moderate,PM2.5,06-001-0007,4
14511,California,Alameda,6,1,2013-01-04,78,Moderate,PM2.5,06-001-0007,4
14512,California,Alameda,6,1,2013-01-05,84,Moderate,PM2.5,06-001-0007,4

In [20]:
# check for missing rows and object types
full_df.info(), full_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218538 entries, 14508 to 33315
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   state_name                 218538 non-null  object
 1   county_name                218538 non-null  object
 2   state_code                 218538 non-null  int64
 3   county_code                218538 non-null  int64
 4   date                       218538 non-null  object
 5   aqi                        218538 non-null  int64
 6   category                   218538 non-null  object
 7   defining_parameter         218538 non-null  object
 8   defining_site              218538 non-null  object
 9   number_of_sites_reporting  218538 non-null  int64
dtypes: int64(4), object(6)
memory usage: 18.3+ MB

(None,
 state_name                   0
 county_name                  0
 state_code                   0
 county_code                  0
 date                         0
 aqi                          0
 category                     0
 defining_parameter           0
 defining_site                0
 number_of_sites_reporting    0
 dtype: int64)

In [17]:
# can drop state_code

state_name                   0
county_name                  0
state_code                   0
county_code                  0
date                         0
aqi                          0
category                     0
defining_parameter           0
defining_site                0
number_of_sites_reporting    0
dtype: int64