# INTRO

# PROBLEM STATEMENT

# BACKGROUND

# ASSUMPTIONS

### Import Libaries

In [6]:
import pandas as pd
import numpy as np
import os

In [8]:
# upload all data files using os
aqi_data = os.listdir('./Datasets')

# confirm the os code worked
aqi_data

['daily_aqi_by_county_2013.csv',
 'daily_aqi_by_county_2012.csv',
 'daily_aqi_by_county_2010.csv',
 'daily_aqi_by_county_2011.csv',
 'daily_aqi_by_county_2015.csv',
 'daily_aqi_by_county_2014.csv',
 'daily_aqi_by_county_2016.csv',
 'daily_aqi_by_county_2017.csv',
 'daily_aqi_by_county_2019.csv',
 'daily_aqi_by_county_2018.csv',
 'daily_aqi_by_county_2020.csv',
 'daily_aqi_by_county_2009.csv']

In [10]:
# generate an empty list where each df will be stored
df_list = []

# read in all the data files but only keep the rows for california
for i in aqi_data:
    
    # read in each df
    new_df = pd.read_csv(f'./Datasets/{i}')
    
    # rename column names
    new_df.rename(columns={'State Name': 'state_name',
                          'county Name': 'county_name',
                          'State Code': 'state_code',
                          'County Code': 'county_code',
                          'Date': 'date',
                          'AQI': 'aqi',
                          'Category': 'category',
                          'Defining Parameter': 'defining_parameter',
                          'Defining Site': 'defining_site',
                          'Number of Sites Reporting': 'number_of_sites_reporting'}, inplace=True)
    
    # only keep rows from California
    new_df = new_df[new_df['state_name'] == 'California']
    
    # append the new_df to the df_list
    df_list.append(new_df)

In [11]:
# concat all the dfs in the df_list
full_df = pd.concat(df_list)

In [12]:
full_df

,state_name,county_name,state_code,county_code,date,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
14508,California,Alameda,6,1,2013-01-01,62,Moderate,PM2.5,06-001-0007,4
14509,California,Alameda,6,1,2013-01-02,61,Moderate,PM2.5,06-001-0007,4
14510,California,Alameda,6,1,2013-01-03,81,Moderate,PM2.5,06-001-0007,4
14511,California,Alameda,6,1,2013-01-04,78,Moderate,PM2.5,06-001-0007,4
14512,California,Alameda,6,1,2013-01-05,84,Moderate,PM2.5,06-001-0007,4
...,...,...,...,...,...,...,...,...,...,...
33311,California,Yolo,6,113,2009-12-27,79,Moderate,PM2.5,06-113-0004,3
33312,California,Yolo,6,113,2009-12-28,29,Good,PM2.5,06-113-0004,2
33313,California,Yolo,6,113,2009-12-29,37,Good,PM2.5,06-113-0004,2
33314,California,Yolo,6,113,2009-12-30,56,Moderate,PM2.5,06-113-0004,2
33315,California,Yolo,6,113,2009-12-31,68,Moderate,PM2.5,06-113-0004,2

In [1]:




df = pd.read_csv('./Datasets/daily_aqi_by_county_2020.csv')

df.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2020-01-01,48,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2020-01-04,13,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2020-01-07,14,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2020-01-10,39,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2020-01-13,29,Good,PM2.5,01-003-0010,1

In [5]:
df[df['State Name'] == 'California']

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
9408,California,Alameda,6,1,2020-01-01,53,Moderate,PM2.5,06-001-0009,7
9409,California,Alameda,6,1,2020-01-02,43,Good,PM2.5,06-001-0013,7
9410,California,Alameda,6,1,2020-01-03,74,Moderate,PM2.5,06-001-0013,7
9411,California,Alameda,6,1,2020-01-04,45,Good,PM2.5,06-001-0007,7
9412,California,Alameda,6,1,2020-01-05,33,Good,PM2.5,06-001-0007,7
...,...,...,...,...,...,...,...,...,...,...
21472,California,Yolo,6,113,2020-09-26,34,Good,Ozone,06-113-1003,1
21473,California,Yolo,6,113,2020-09-27,35,Good,Ozone,06-113-1003,1
21474,California,Yolo,6,113,2020-09-28,45,Good,Ozone,06-113-1003,1
21475,California,Yolo,6,113,2020-09-29,74,Moderate,Ozone,06-113-1003,1
21476,California,Yolo,6,113,2020-09-30,67,Moderate,Ozone,06-113-1003,1